---
import { Image, Picture } from "astro:assets";
import MainLayout from "src/layouts/MainLayout.astro";
import post05Img from "@images/post-05.png";
---

<MainLayout title="Imagenes">
  <h1 class="text-5xl text-white">Imagenes</h1>

  <img src="/assets/images/post-05.png" width="250px" height="250px" />
  <h1 class="text-5xl text-white">normal</h1>
  <Image src={post05Img} width={250} height={250} alt={"Imagen del post"} />
  <h1 class="text-5xl text-white">low</h1>
  <Image
    src={post05Img}
    quality={"low"}
    width={250}
    height={250}
    alt={"Imagen del post"}
  />
  <h1 class="text-5xl text-white">number</h1>
  <Image
    src={post05Img}
    quality={5}
    width={250}
    height={250}
    alt={"Imagen del post"}
  />
  <h1 class="text-5xl text-white">formats</h1>
  <Image
    src={post05Img}
    format="avif"
    width={250}
    height={250}
    alt={"Imagen del post"}
  />
  <h1 class="text-5xl text-white">Picture</h1>
  <Picture
    src={post05Img}
    formats={["webp", "avif", "jpg"]}
    widths={[240, 540, 720, post05Img.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${post05Img.width}px`}
    width={250}
    height={250}
    alt={"Imagen del post"}
  />
</MainLayout>
